* {
  padding: 0px;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(213, 226, 219);
}

.header {
  display: flex;
  background-color: rgb(1, 59, 1);
  padding: 1rem;
  margin-bottom: 2rem;
}

h1 {
  color: whitesmoke;
}

h2 {
}

h3 {
}

.sidebar {
}

.nav-links {
  display: flex;
}

.list-box {
  display: flex;
  flex-direction: column;
  padding-left: 0.25rem;
  gap: 2rem;
}

.Sidelink {
  border: 1px solid rgb(1, 59, 1);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 3rem;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  background-color: rgb(1, 59, 1);
}

.main {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(1, 59, 1);
  padding: 1rem;
}

a {
  color: whitesmoke;
}
